#commiti a{
    color:  rgba(67, 103, 182, 0.993);
}
tr :nth-child(1){
    width: 17%;  
}
table, tr, td {
    border: 1px solid black;
}
tr, td {
    padding-left: 1%;
}
#prvi {
    background-color: #a7beff;
}
#commiti {
    height:50%;
    width:80%;
    font-size: 85%;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}

table {
    height:60%;
    width:80%;
    font-size: 85%;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}
@media only screen and (min-width: 600px){
    #glavniDio {
        font-size: 115%;
        width:96%;
        height: 75%;
        clear:left;
        background-color: #e5e5e5; 
        padding-left:4%;
        padding-top:1%;
    }  
}
@media only screen and (max-width: 600px){
    #glavniDio {
        font-size: 110%;
        width:96%;
        height: 75%;
        clear:left;
        padding-left: 4%;
        padding-top:1%;
        background-color: #e5e5e5; 
    }
}